# Django
DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Instagram / Meta
INSTAGRAM_ACCESS_TOKEN=
META_APP_SECRET=
INSTAGRAM_APP_SECRET=
INSTAGRAM_VERIFY_TOKEN=
INSTAGRAM_API_VERSION=v25.0
INSTAGRAM_GRAPH_HOST=https://graph.instagram.com
INSTAGRAM_VERIFY_SIGNATURE=True

# Ollama
OLLAMA_HOST=http://host.docker.internal:11434
